.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-description {
  max-width: 500px;
  text-align: center;
}

@media (max-width: 900px) {
  .footer-description {display: none;
  }
}
